<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
     interface="Autodesk.Connectivity.JobProcessor.Extensibility.IJobHandler, Autodesk.Connectivity.JobProcessor.Extensibility"
     type="Autodesk.VltInvSrv.ExportSampleJob.JobExtension, Autodesk.VltInvSrv.ExportSampleJob">
      <setting key="JobType1" value="Autodesk.VltInvSrv.ExportSampleJob"/>
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>