<?xml version="1.0" encoding="utf-8" ?>
<settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!-- Logfile directory; validate for write access -->
  <LogFileLocation>C:\Temp\</LogFileLocation>
  
  <!-- Output Path -->
  <!--<OutputPath>C:\Temp\Autodesk.STEP.ExportSampleJob\</OutputPath>-->

</settings>