<?xml version="1.0" encoding="utf-8" ?>
<settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Logfile directory; validate for write access -->
  <LogFileLocation>C:\Temp\</LogFileLocation>

  <!-- Export File Format(s)-->
  <!--  Supported Values/File Formats are: STP, JT, SMDXF, 3DDWG, 2DDWG, IMAGE, NWD -->
  <!--  Multiple Outputs per jobs are supported, list all required formats comma separated, e.g., STP, JT, SMDXF -->
  <!--  To Export Sheet Metal Flatpattern SMDXF - NOTE: distinct category for sheet metal part required, if job handles parts and SM-parts-->
  <ExportFormats>NWD</ExportFormats>

  <!--Sheet Metal Category Name-->
  <SmCatDispName>Sheet Metal Part</SmCatDispName>

  <!--2D-DWG Export ini path and file name-->
  <DwgIniFile2D>C:\ProgramData\Autodesk\Vault 2022\Extensions\Autodesk.VltInvSrv.ExportSampleJob\IDW-2-DWG.ini</DwgIniFile2D>

  <!--IMAGE Export file type; supporte file types are BMP, PNG, GIF, JPG, TIFF-->
  <ImgFileType>PNG</ImgFileType>

  <!-- Output Path -->
  <!--  The job can copy the resulting file(s) to the given output path after check-in-->
  <OutputPath>C:\Temp\</OutputPath>

</settings>